.counterButton {
    background-color: #83B9E0;
    font-size: 40px;
    border: 1px solid #83B9E0;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

.counterButton:active {
    background-color: #83B9E0;
    font-size: 40px;
    border: 1px solid #83B9E0;
    border-radius: 10px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
