.insertValue {
    height: 200px;
    border: 2px solid #83B9E0;
    border-radius: 10px;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.value__max_value, .value__start_value {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.value__title {
    width: 160px;
    color: aqua;
    font-size: 30px;
    font-weight: bold;
}

.input {
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    border: 3px solid #83B9E0;
}

.inputError {
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    border: 3px solid red;
    background-color: red;
}

.setValue {
    border: 2px solid #83B9E0;
    border-radius: 10px;
    margin: 30px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.setButton {
    background-color: #83B9E0;
    font-size: 40px;
    border: 1px solid #83B9E0;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

.setButton:active {
    background-color: #83B9E0;
    font-size: 40px;
    border: 1px solid #83B9E0;
    border-radius: 10px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}