.app {
    display: flex;
}

.counterSettings, .displayCounter {
    border: 2px solid #83B9E0;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    margin: 0 100px;
}

.bodyCounter, .setCounter {
    padding: 10px;
}